@import './reset';

@font-face {
  font-family: 'Gotham Rounded';
  src: local('Gotham Rounded'), url(../fonts/GothamRounded.ttf) format('ttf');
}

body {
  background: #edeff0;
  color: #576366;
  font-family: "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// 根容器
#monar {
  height: 100vh;
}

#header {
  height: 70px;
  line-height: 70px;
  background: #3e474f;
  color: #ffffff;
  transition: all .5s linear;
  text-align: center;
  z-index: 101;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  &:hover {
    color: #5fcf80;
  }
}

#main {
  max-width: 700px;
  width: 70vw;
  margin: 90px auto 0 auto;
}

#footer {
  margin: 0 20px;
  border-top: 1px solid #e2e5e8;
  height: 50px;
  color: #b2bac2;
  line-height:50px;
  text-align: center;
}